.DS_Store
.classpath
.gradle/
.project
.settings/
bin/
build/
scripts/output
src/main/webapp/root/*
src/main/webapp/WEB-INF/appengine-generated/
src/main/webapp/WEB-INF/classes/
src/main/webapp/WEB-INF/lib/